@font-face {
    font-family: "Nunito";
    src: url(../Nunito-Font/static/Nunito-Regular.ttf);
}

*{
    font-family: "Nunito";
}

:root{
    --horizontal-color: #B47B5F;
    --box-shadow: rgba(0, 0, 0, 0.212) 0px 5px 18px;
}

html body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

main{
    height: 100%;
    width: 50%;
}

form{
    height: 62%;
    width: 45%;
    gap: 5.5rem;
    border-radius: 13px;
    box-shadow: var(--box-shadow);
}

.logo{
    height: 17vh;
}

.input-containers{
    width: 83%;
}

form button{
    width: 100%;
}

@media screen and (width > 768px) and (width <= 1025px) {
    main{
        width: 40%;
    }

    form{
        width: 100%;
    }
}